<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task view</title>
</head>
<body>
<a href="/">Home</a>

<h4>Nazvanie: {{ task.title }}</h4>
<p>Status: {{ task.get_status_display }}</p>
<p>Data vypolneniya: {{ task.deadline|default:"-" }}</p>
<p>Opisanie: {{ task.content }}</p>
<hr>

</body>
</html>